<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    <title>Formulario Juego</title>
</head>


<body>

    <h1>Formulario de Juegos</h1>

    <form method="post" 
			th:object="${juego}" 
			th:action="@{/save}">

        <input id="id" th:field="*{id}" type="hidden" />

        <table>
            <tr>
                <td>
                    <label for="nombre">Nombre:</label>
                </td>
                <td>
                    <input type="text" th:field="*{nombre}" />
                </td>
            </tr>


            <tr>
                <td>
                    <label for="fecha">Año:</label>
                </td>
                <td>
                    <input type="number" max="9999" min="1958" th:field="*{fecha}" />
                </td>
            </tr>

            <tr>
                <td>
                    <label for="editor">Editor:</label>
                </td>
                <td>
                    <select name="editor" id="editor" th:field="*{editor}"> 
                        <option th:each="editor:${listaEditores}" th:value="${editor}" th:text="${editor}">   
                    </select>   
                   
                </td>
            </tr>

            <tr>
                <td>
                    <label for="genero">Genero:</label>
                </td>
                <td>
                    <select name="genero" id="genero" th:field="*{genero}"> 
                        <option th:each="genero:${listaGeneros}" th:value="${genero}" th:text="${genero}"></option>
                    </select>                  
                </td>
            </tr>

            <tr>
                <td>
                    <label for="plataforma">Plataforma:</label>
                </td>
                <td>
                    <select name="plataforma" id="plataforma" th:field="*{plataforma}" > 
                        <option th:each="plataforma:${listaPlataformas}" th:value="${plataforma}" th:text="${plataforma}">           
                    </select>                    
                </td>
            </tr>

            <tr>
                <td>
                    <label for="ventas">Número de ventas:</label>
                </td>
                <td>
                    <input type="number" th:field="*{ventas}" />
                </td>
            </tr>

            <tr>
                <td colspan="2" align="center"><input type="submit"
                    value="Guardar Juego"></td>
            </tr>

        </table>

    </form>

</body>


</html>